@charset "UTF-8";


body {
	
	background-image: url(lose-background.png);
	background-repeat: no-repeat;
	background-size: cover;
	
}

/* iPhone SE */
@media screen and (max-width: 389px) {
	
	.lose {
		margin-top: 60px;
		text-align: center;
		animation: fadeIn 2s ease 1 normal backwards;
	}
	
	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: translateY(20px);
		}
		to {
			opacity:1;
			transform: translateY(0);
		}
	}
	
	.sad-suzuki {
		width: 140px;
		height: 300px;
		margin-top: 15px;
	    margin-left: 10px;
	}
	
	#fukidasi {
		width: 210px;
		height: 150px;
	}
	
	.img-sad-comment {
		width: 200px;
		height: 150px;
	    margin-top: -250px;
	    position: relative;
	    margin-left: 135px;
    }

    .img-sad-comment p {
	    position: absolute;
	    top: 20%;
    }
    
    div.again {
	    text-align: center;
	    margin-top: 100px;
	    clear: both;
    }
    
    div.again a {
	    text-decoration: none;
	    color: black;
	    padding: 10px 30px;
	    border: 4px solid #00bfff;
	    -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius: 10px;
        background-color: #87cefa;
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-size: 17px;
    }
    
    div.again:hover {
	    transition: 0.1s;
	    transform: translateY(4px);
    }

    div.again a:hover {
	    color: black;
	    background: #fff;
        box-shadow: none;
	    border-color: #00bfff;
    }

    div.menu {
	    text-align: center;
	    margin-top: 40px;
    }

    div.menu a {
	    text-decoration: none;
	    color: white;
	    font-family: "M PLUS Rounded 1c", sans-serif;
        font-size: 16px;
    }
}

/* iPhone XR */
@media screen and (min-width: 412px) and (max-width: 429px) {
	
	
	.lose {
		margin-top: 80px;
		text-align: center;
		animation: fadeIn 2s ease 1 normal backwards;
	}
	
	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: translateY(20px);
		}
		to {
			opacity:1;
			transform: translateY(0);
		}
	}
	
	.sad-suzuki {
		width: 180px;
		height: 400px;
		margin-top: 40px;
	    margin-left: 10px;
	}
	
	
    #fukidasi {
		width: 210px;
		height: 150px;
	}
	
	.img-sad-comment {
		width: 215px;
		height: 150px;
	    margin-top: -300px;
	    position: relative;
	    margin-left: 180px;
    }

    .img-sad-comment p {
	    position: absolute;
	    top: 20%;
    }
    
    div.again {
	    text-align: center;
	    margin-top: 150px;
	    clear: both;
}
    
    div.again a {
	    text-decoration: none;
	    color: black;
	    padding: 10px 30px;
	    border: 4px solid #00bfff;
	    -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius: 10px;
        background-color: #87cefa;
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-size: 20px;
    }
    
    div.again:hover {
	    transition: 0.1s;
	    transform: translateY(4px);
    }

    div.again a:hover {
	    color: #000;
	    background: #fff;
	    box-shadow: none;
	    border-color: #00bfff;
    }

    div.menu {
	    text-align: center;
	    margin-top: 40px;
    }

    div.menu a {
	    text-decoration: none;
	    color: white;
	    font-family: "M PLUS Rounded 1c", sans-serif;
        font-size: 18px;
    }
}

/* iPhone 12 Pro */
@media screen and (min-width: 390px) and (max-width: 411px) {
	
	.lose {
		margin-top: 80px;
		text-align: center;
		animation: fadeIn 2s ease 1 normal backwards;
	}
	
	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: translateY(20px);
		}
		to {
			opacity:1;
			transform: translateY(0);
		}
	}
	
	.sad-suzuki {
		width: 180px;
		height: 400px;
		margin-top: 40px;
	    margin-left: 10px;
	}
	
	
    #fukidasi {
		width: 210px;
		height: 140px;
	}
	
	.img-sad-comment {
		width: 215px;
		height: 150px;
	    margin-top: -300px;
	    position: relative;
	    margin-left: 160px;
    }

    .img-sad-comment p {
	    position: absolute;
	    top: 20%;
    }
    
    div.again {
	    text-align: center;
	    margin-top: 140px;
	    clear: both;
    }
    
    div.again a {
	    text-decoration: none;
	    color: black;
	    padding: 10px 30px;
	    border: 4px solid #00bfff;
	    -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius: 10px;
        background-color: #87cefa;
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-size: 20px;
    }
    
    div.again:hover {
	    transition: 0.1s;
	    transform: translateY(4px);
    }

    div.again a:hover {
	    color: #000;
	    background: #fff;
	    box-shadow: none;
	    border-color: #00bfff;
    }

    div.menu {
	    text-align: center;
	    margin-top: 40px;
    }

    div.menu a {
	    text-decoration: none;
	    color: white;
	    font-family: "M PLUS Rounded 1c", sans-serif;
        font-size: 18px;
    }
}

/* iPhone 14 Pro */
@media screen and (min-width: 430px) {
	
	.lose {
		margin-top: 100px;
		text-align: center;
		animation: fadeIn 2s ease 1 normal backwards;
	}
	
	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: translateY(20px);
		}
		to {
			opacity:1;
			transform: translateY(0);
		}
	}
	
	.sad-suzuki {
		width: 180px;
		height: 400px;
		margin-top: 40px;
	    margin-left: 10px;
	}
	
	
    #fukidasi {
		width: 210px;
		height: 140px;
	}
	
	.img-sad-comment {
		width: 215px;
		height: 150px;
	    margin-top: -300px;
	    position: relative;
	    margin-left: 190px;
    }

    .img-sad-comment p {
	    position: absolute;
	    top: 20%;
    }
    
    div.again {
	    text-align: center;
	    margin-top: 160px;
	    clear: both;
    }
    
    div.again a {
	    text-decoration: none;
	    color: black;
	    padding: 10px 30px;
	    border: 4px solid #00bfff;
	    -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius: 10px;
        background-color: #87cefa;
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-size: 22px;
    }
    
    div.again:hover {
	    transition: 0.1s;
	    transform: translateY(4px);
    }

    div.again a:hover {
	    color: #000;
	    background: #fff;
	    box-shadow: none;
	    border-color: #00bfff;
    }

    div.menu {
	    text-align: center;
	    margin-top: 40px;
    }

    div.menu a {
	    text-decoration: none;
	    color: white;
	    font-family: "M PLUS Rounded 1c", sans-serif;
        font-size: 18px;
    }
}

#s1, #s2 {
	display: block;
	width: 0%;
	margin-left: 60px;
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
}

#s1 {
	font-family: "M PLUS Rounded 1c", sans-serif;
	animation: s1 2s;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

@keyframes s1 {
	from {width: 0em;}
	50% {width: 4em;}
	to {width: 4em;}
}

#s2 {
	font-family: "M PLUS Rounded 1c", sans-serif;
	animation: s2 2s;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

@keyframes s2 {
	0% {width: 0em;}
	50% {width: 0em;}
	to {width: 12em;}
}

@media only screen and (min-width: 769px) {
	body {
		background-size: 350px 700px;
		background-position: 50% 10%;
		object-fit: cover;
	}
		
	    .lose {
		margin-top: 20px;
		text-align: center;
		animation: fadeIn 2s ease 1 normal backwards;
	}
	
	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: translateY(20px);
		}
		to {
			opacity:1;
			transform: translateY(0);
		}
	}
	
	.sad-suzuki {
		width: 160px;
		height: 360px;
		
	    margin-left: 560px;
	}
	
	
    #fukidasi {
		width: 210px;
		height: 140px;
	}
	
	.img-sad-comment {
		width: 215px;
		height: 150px;
	    margin-top: -300px;
	    position: relative;
	    margin-left: 690px;
    }

    .img-sad-comment p {
	    position: absolute;
	    top: 20%;
    }
    
    div.again {
	    text-align: center;
	    margin-top: 140px;
	    clear: both;
    }
    
    div.again a {
	    text-decoration: none;
	    color: black;
	    padding: 10px 30px;
	    border: 4px solid #00bfff;
	    -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius: 10px;
        background-color: #87cefa;
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-size: 20px;
    }
    
    div.again:hover {
	    transition: 0.1s;
	    transform: translateY(4px);
    }

    div.again a:hover {
	    color: #000;
	    background: #fff;
	    box-shadow: none;
	    border-color: #00bfff;
    }

    div.menu {
	    text-align: center;
	    margin-top: 40px;
    }

    div.menu a {
	    text-decoration: none;
	    color: white;
	    font-family: "M PLUS Rounded 1c", sans-serif;
        font-size: 18px;
    }
	}
